{% set pageName="Have you lived in the UK for the 3 years before your course" %}
{% extends folder + "/_BASE.html" %}



{% block employer %}

    <form action="results" method="post" novalidate>



    {{ govukRadios({
      name: "lived-before",
      fieldset: {
        legend: {
          text: "In the 3 years before your course, have you only lived in the UK, the Channel Islands or Isle of Man?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--l"
        }
      },
      hint: {
  text: "The UK is made up of England, Scotland, Wales and Northern Ireland."
},
      items: [
        {
          value: "Yes",
          text: "Yes"
        },
        {
          value: "No - I have lived in other places",
          text: "No - I have lived in other places"
        },
        {
          value: "Not sure",
          text: "Not sure"
        }
      ]
    }) }}


{{ govukButton({
          text: "Continue"
        }) }}
      </form>

{% endblock %}
