{% extends "layouts/main.html" %}
{% set serviceName = "" %}
{% set pageName="Results" %}

{% block content %}





<div class="govuk-grid-row">
  <div id="result-info" class="govuk-grid-column-two-thirds outcome" data-module="auto-track-event ga4-auto-tracker ga4-smart-answer-results-tracker" data-track-category="Smart Answer" data-track-action="Completed" data-track-label="student-finance-calculator" data-track-options="{&quot;nonInteraction&quot;: true}" data-ga4-auto="{
      &quot;event_name&quot;: &quot;form_complete&quot;,
      &quot;type&quot;: &quot;smart answer&quot;,
      &quot;section&quot;: &quot;Information based on your answers&quot;,
      &quot;action&quot;: &quot;complete&quot;,
      &quot;tool_name&quot;: &quot;Student finance calculator&quot;
    }" data-ecommerce-start-index="1" data-list-title="Student finance calculator" data-auto-track-event-module-started="true" data-ga4-auto-tracker-module-started="true" data-ga4-smart-answer-results-tracker-module-started="true">



<div class="gem-c-title govuk-!-margin-top-8 govuk-!-margin-bottom-8">

  <h1 class="gem-c-title__text govuk-heading-xl">
        <span class="govuk-caption-xl gem-c-title__context">
    Student finance calculator:
  </span>

    Information based on your answers
  </h1>
</div>

    <div data-flow-name="student-finance-calculator" data-module="gem-track-click ga4-link-tracker" data-track-category="Internal Link Clicked" data-track-action="student-finance-calculator results" data-ga4-link="{&quot;event_name&quot;:&quot;information_click&quot;,&quot;type&quot;:&quot;smart answer&quot;,&quot;section&quot;:&quot;Information based on your answers&quot;,&quot;action&quot;:&quot;information click&quot;,&quot;tool_name&quot;:&quot;Student finance calculator&quot;,&quot;index_total&quot;:8}" data-ga4-track-links-only="" data-ga4-set-indexes="" data-track-links-only="" data-gem-track-click-module-started="true" data-ga4-link-tracker-module-started="true">
      <div class="govuk-!-margin-bottom-6">


<div class="gem-c-govspeak govuk-govspeak " data-module="govspeak" data-govspeak-module-started="true">

<div class="summary">
<div role="note" aria-label="Information" class="application-notice info-notice">
<p>Your result is an estimate. You’ll be told your exact amount, including any extra student funding, after your application is approved.</p>
</div>

<p>Usually, you only get student finance if you’re doing your first higher education qualification - <a href="/student-finance/who-qualifies" data-ga4-index="{&quot;index_link&quot;: 1}">check if you qualify</a></p>
</div>

<p>Read the <a href="/student-finance/new-fulltime-students" data-ga4-index="{&quot;index_link&quot;: 2}">guidance</a> about student finance and how to apply.</p>

<h2 class="govuk-heading-m" id="tuition-fee-loan">Tuition Fee Loan</h2>

<p>You could get a £9,250 <a href="/student-finance/new-fulltime-students" data-ga4-index="{&quot;index_link&quot;: 3}">Tuition Fee Loan</a> each year to pay for your course.</p>

<div class="govuk-inset-text">
<P>  If you get a Tuition Fee Loan, the amount you borrow will have 'compound interest' added to it. This is not yet set for September 2024 but is currently 7.1%.</p><p> Using the current rates and <a href="">payment dates</a>, this means that if you borrow £9,250 in September 2024, study full-time and do not pay anything back, in September 2025 there will be an extra £510 interest on your loan.</p>
  <p> This interest rate changes when you stop studying, and can increase depdending on your income. </p><p>Interest rates change every 3 months - find out more in the <a href="https://www.gov.uk/government/publications/student-loans-a-guide-to-terms-and-conditions/student-loans-a-guide-to-terms-and-conditions-2023-to-2024#how-youll-repay">student loans terms and conditions</a>.</p>
</div>

<p>You will need to start paying back your Tuition Fee Loan and any other student finance loans when you stop studying and earn more than a certain amount in one job. This is currently £25,000 but can change - find out more in <a href="https://www.gov.uk/repaying-your-student-loan">repaying your student loans</a>.

<h2 class="govuk-heading-m" id="maintenance-loan">Maintenance Loan</h2>

<p>You could get a £13,002 <a href="/student-finance/new-fulltime-students" data-ga4-index="{&quot;index_link&quot;: 4}">Maintenance Loan</a> to contribute towards your living costs.</p>


<div class="govuk-inset-text">
  If you get a Maintenance Loan, the amount you borrow will have 'compound interest' added to it. This is not yet set for September 2024 but is currently 7.1%. Using the current rates and <a href="">payment dates</a>, this means that if you borrow £13,002 in September 2024, study full-time and do not pay anything back, in September 2025 there will be an extra £652 interest on your loan.</p>
  <P> This interest rate changes when you stop studying, and can increase depdending on your income. </p><p> Interest rates change every 3 months - find out more in the <a href="https://www.gov.uk/government/publications/student-loans-a-guide-to-terms-and-conditions/student-loans-a-guide-to-terms-and-conditions-2023-to-2024#how-youll-repay">student loans terms and conditions</a>.
</div>

<p>You will need to start paying back your Tuition Fee Loan and any other student finance loans when you stop studying and earn more than a certain amount in one job. this is currently £25,000 but can change - find out more in <a href="https://www.gov.uk/repaying-your-student-loan">repaying your student loans</a>.



<p>How your Maintenance Loan is calculated:</p>

<p>£13,002 (the maximum Maintenance Loan available)<br>
- £0 (the amount you might not be eligible for, based on your answers)<br>
= £13,002 (the amount you could be eligible for, based on your answers)</p>

<p>You can find out more about <a href="/government/publications/student-finance-how-youre-assessed-and-paid" data-ga4-index="{&quot;index_link&quot;: 5}">how Maintenance Loans are calculated</a>.</p>

<p>You may get less Maintenance Loan in your final year.</p>

<p>If you need more money to fund your living costs and you qualify, you can apply for extra help.</p>

<h3 id="extra-student-funding">Extra student funding</h3>

<p>You don’t qualify for extra grants and allowances.</p>

<h2 class="govuk-heading-m" id="extra-help">Extra help</h2>

<p>You could get a <a href="/extra-money-pay-university" data-ga4-index="{&quot;index_link&quot;: 6}">bursary or scholarship</a> from your university or college.</p>

<p>You might be able to get <a href="/travel-grants-students-england" data-ga4-index="{&quot;index_link&quot;: 7}">help with the costs of travel for study or work placements</a> as part of your course.</p>

<p>Use the <a rel="external" href="http://grants-search.turn2us.org.uk/" data-ga4-index="{&quot;index_link&quot;: 8}">Turn2us grant search</a> to check whether you qualify for funding from a charitable trust.</p>

<div role="note" aria-label="Information" class="application-notice info-notice">
<p>Student loans have to be paid back - grants, bursaries and allowances don’t.</p>
</div>


</div>

      </div>

    </div>

      <h2 class="gem-c-heading govuk-heading-m govuk-!-margin-bottom-4">Your answers</h2>

  <p class="govuk-body">
    <a class="govuk-link" data-module="gem-track-click ga4-link-tracker" data-track-action="Start again" data-track-category="StartAgain" data-track-label="" data-ga4-link="{&quot;event_name&quot;:&quot;form_start_again&quot;,&quot;type&quot;:&quot;smart answer&quot;,&quot;section&quot;:&quot;Information based on your answers&quot;,&quot;action&quot;:&quot;start again&quot;,&quot;tool_name&quot;:&quot;Student finance calculator&quot;}" href="/student-finance-calculator" data-gem-track-click-module-started="true" data-ga4-link-tracker-module-started="true">Start again</a>
</p>    <div class="gem-c-summary-list  gem-c-summary-list--wide-title">

      <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">

            <dt class="govuk-summary-list__key">When does your course start?</dt>
            <dd class="govuk-summary-list__value">Between September 2023 and August 2024</dd>



              <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" data-module="gem-track-click ga4-link-tracker" data-track-category="Smart Answer Change Link" data-track-action="Link clicked" data-track-label="When does your course start? / Between September 2023 and August 2024" data-ga4-link="{&quot;event_name&quot;:&quot;form_change_response&quot;,&quot;type&quot;:&quot;smart answer&quot;,&quot;section&quot;:&quot;When does your course start?&quot;,&quot;action&quot;:&quot;change response&quot;,&quot;tool_name&quot;:&quot;Student finance calculator&quot;}" href="/student-finance-calculator/y?previous_response=2023-2024" data-gem-track-click-module-started="true" data-ga4-link-tracker-module-started="true">
                  Change
                  <span class="govuk-visually-hidden"> When does your course start?</span></a>

</dd>
</div>          <div class="govuk-summary-list__row">

            <dt class="govuk-summary-list__key">What type of student are you?</dt>
            <dd class="govuk-summary-list__value">UK student full-time</dd>



              <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" data-module="gem-track-click ga4-link-tracker" data-track-category="Smart Answer Change Link" data-track-action="Link clicked" data-track-label="What type of student are you? / UK student full-time" data-ga4-link="{&quot;event_name&quot;:&quot;form_change_response&quot;,&quot;type&quot;:&quot;smart answer&quot;,&quot;section&quot;:&quot;What type of student are you?&quot;,&quot;action&quot;:&quot;change response&quot;,&quot;tool_name&quot;:&quot;Student finance calculator&quot;}" href="/student-finance-calculator/y/2023-2024?previous_response=uk-full-time" data-gem-track-click-module-started="true" data-ga4-link-tracker-module-started="true">
                  Change
                  <span class="govuk-visually-hidden"> What type of student are you?</span></a>

</dd>
</div>          <div class="govuk-summary-list__row">

            <dt class="govuk-summary-list__key">How much are your tuition fees per year?</dt>
            <dd class="govuk-summary-list__value">£9,250</dd>



              <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" data-module="gem-track-click ga4-link-tracker" data-track-category="Smart Answer Change Link" data-track-action="Link clicked" data-track-label="How much are your tuition fees per year? / £9,250" data-ga4-link="{&quot;event_name&quot;:&quot;form_change_response&quot;,&quot;type&quot;:&quot;smart answer&quot;,&quot;section&quot;:&quot;How much are your tuition fees per year?&quot;,&quot;action&quot;:&quot;change response&quot;,&quot;tool_name&quot;:&quot;Student finance calculator&quot;}" href="/student-finance-calculator/y/2023-2024/uk-full-time?previous_response=9250.0" data-gem-track-click-module-started="true" data-ga4-link-tracker-module-started="true">
                  Change
                  <span class="govuk-visually-hidden"> How much are your tuition fees per year?</span></a>

</dd>
</div>          <div class="govuk-summary-list__row">

            <dt class="govuk-summary-list__key">Where will you live while studying?</dt>
            <dd class="govuk-summary-list__value">Not living with parents and studying in London</dd>



              <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" data-module="gem-track-click ga4-link-tracker" data-track-category="Smart Answer Change Link" data-track-action="Link clicked" data-track-label="Where will you live while studying? / Not living with parents and studying in London" data-ga4-link="{&quot;event_name&quot;:&quot;form_change_response&quot;,&quot;type&quot;:&quot;smart answer&quot;,&quot;section&quot;:&quot;Where will you live while studying?&quot;,&quot;action&quot;:&quot;change response&quot;,&quot;tool_name&quot;:&quot;Student finance calculator&quot;}" href="/student-finance-calculator/y/2023-2024/uk-full-time/9250.0?previous_response=away-in-london" data-gem-track-click-module-started="true" data-ga4-link-tracker-module-started="true">
                  Change
                  <span class="govuk-visually-hidden"> Where will you live while studying?</span></a>

</dd>
</div>          <div class="govuk-summary-list__row">

            <dt class="govuk-summary-list__key">What's your annual household income?</dt>
            <dd class="govuk-summary-list__value">£10,000</dd>



              <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" data-module="gem-track-click ga4-link-tracker" data-track-category="Smart Answer Change Link" data-track-action="Link clicked" data-track-label="What's your annual household income? / £10,000" data-ga4-link="{&quot;event_name&quot;:&quot;form_change_response&quot;,&quot;type&quot;:&quot;smart answer&quot;,&quot;section&quot;:&quot;What's your annual household income?&quot;,&quot;action&quot;:&quot;change response&quot;,&quot;tool_name&quot;:&quot;Student finance calculator&quot;}" href="/student-finance-calculator/y/2023-2024/uk-full-time/9250.0/away-in-london?previous_response=10000.0" data-gem-track-click-module-started="true" data-ga4-link-tracker-module-started="true">
                  Change
                  <span class="govuk-visually-hidden"> What's your annual household income?</span></a>

</dd>
</div>          <div class="govuk-summary-list__row">

            <dt class="govuk-summary-list__key">Do any of the following apply? (You might get extra funding.)</dt>
            <dd class="govuk-summary-list__value">  <ul class="gem-c-list govuk-list">
      <li>None of these</li>
</ul>
</dd>



              <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" data-module="gem-track-click ga4-link-tracker" data-track-category="Smart Answer Change Link" data-track-action="Link clicked" data-track-label="Do any of the following apply? (You might get extra funding.) / no" data-ga4-link="{&quot;event_name&quot;:&quot;form_change_response&quot;,&quot;type&quot;:&quot;smart answer&quot;,&quot;section&quot;:&quot;Do any of the following apply? (You might get extra funding.)&quot;,&quot;action&quot;:&quot;change response&quot;,&quot;tool_name&quot;:&quot;Student finance calculator&quot;}" href="/student-finance-calculator/y/2023-2024/uk-full-time/9250.0/away-in-london/10000.0?previous_response=no" data-gem-track-click-module-started="true" data-ga4-link-tracker-module-started="true">
                  Change
                  <span class="govuk-visually-hidden"> Do any of the following apply? (You might get extra funding.)</span></a>

</dd>
</div>          <div class="govuk-summary-list__row">

            <dt class="govuk-summary-list__key">Are you studying one of these courses?</dt>
            <dd class="govuk-summary-list__value"> None of these</dd>



              <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" data-module="gem-track-click ga4-link-tracker" data-track-category="Smart Answer Change Link" data-track-action="Link clicked" data-track-label="Are you studying one of these courses? /  None of these" data-ga4-link="{&quot;event_name&quot;:&quot;form_change_response&quot;,&quot;type&quot;:&quot;smart answer&quot;,&quot;section&quot;:&quot;Are you studying one of these courses?&quot;,&quot;action&quot;:&quot;change response&quot;,&quot;tool_name&quot;:&quot;Student finance calculator&quot;}" href="/student-finance-calculator/y/2023-2024/uk-full-time/9250.0/away-in-london/10000.0/no?previous_response=none-of-the-above" data-gem-track-click-module-started="true" data-ga4-link-tracker-module-started="true">
                  Change
                  <span class="govuk-visually-hidden"> Are you studying one of these courses?</span></a>

</dd>
</div>
</dl>
    <div class="gem-c-summary__block"></div>
</div>

  </div>

<!--    <div class="govuk-grid-column-one-third govuk-!-margin-top-9">

<div class="gem-c-contextual-sidebar">
      <div class="gem-c-step-nav-related gem-c-step-nav-related--singular" data-module="gem-track-click ga4-link-tracker" data-gem-track-click-module-started="true" data-ga4-link-tracker-module-started="true">
    <h2 class="gem-c-step-nav-related__heading">
      <span class="gem-c-step-nav-related__pretitle">Part of</span>
          <a href="/get-undergraduate-student-loan" class="govuk-link" data-track-category="stepNavPartOfClicked" data-track-action="Part of" data-track-label="/get-undergraduate-student-loan" data-track-dimension="Get undergraduate student finance: step by step" data-track-dimension-index="29" data-track-options="{&quot;dimension96&quot; : &quot;18045f76-ac04-41b7-b147-5687d8fbb64a&quot; }" data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;part of&quot;,&quot;index&quot;:{&quot;index_link&quot;:&quot;1&quot;},&quot;index_total&quot;:&quot;1&quot;,&quot;section&quot;:&quot;Part of&quot;}">
            Get undergraduate student finance: step by step
          </a>
        </h2>
</div>

      <div data-module="gemstepnav ga4-event-tracker" data-ga4-expandable="" class="gem-c-step-nav govuk-!-display-none-print gem-c-step-nav--active" data-id="18045f76-ac04-41b7-b147-5687d8fbb64a" data-show-text="Show" data-hide-text="Hide" data-show-all-text="Show all steps" data-hide-all-text="Hide all steps" data-gemstepnav-module-started="true" data-ga4-event-tracker-module-started="true">
    <div class="gem-c-step-nav__controls govuk-!-display-none-print"><button aria-expanded="false" class="gem-c-step-nav__button gem-c-step-nav__button--controls js-step-controls-button" data-ga4-event="{&quot;event_name&quot;:&quot;select_content&quot;,&quot;type&quot;:&quot;step by step&quot;,&quot;index&quot;:{&quot;index_section&quot;:0,&quot;index_section_count&quot;:10}}" aria-controls="step-panel-check-if-you-re-eligible-1"><span class="gem-c-step-nav__chevron gem-c-step-nav__chevron--down js-step-controls-button-icon"></span><span class="gem-c-step-nav__button-text gem-c-step-nav__button-text--all js-step-controls-button-text">Show all steps</span></button></div><ol class="gem-c-step-nav__steps">
        <li class="gem-c-step-nav__step js-step" id="check-if-you-re-eligible" data-track-count="stepNavSection">
          <div class="gem-c-step-nav__header js-toggle-panel" data-position="1">
            <h3 class="gem-c-step-nav__title">
              <span class="gem-c-step-nav__circle gem-c-step-nav__circle--number">
                <span class="gem-c-step-nav__circle-inner">
                  <span class="gem-c-step-nav__circle-background">
                      <span class="gem-c-step-nav__circle-step-label govuk-!-display-none-print visuallyhidden">Step</span> 1<span class="gem-c-step-nav__circle-step-colon govuk-!-display-none-print visuallyhidden" aria-hidden="true">:</span>
                  </span>
                </span>
              </span>

              <span class="js-step-title"><button class="gem-c-step-nav__button gem-c-step-nav__button--title js-step-title-button" aria-expanded="false" aria-controls="step-panel-check-if-you-re-eligible-1" data-ga4-event="{&quot;event_name&quot;:&quot;select_content&quot;,&quot;type&quot;:&quot;step by step&quot;,&quot;text&quot;:&quot;Check if you're eligible&quot;,&quot;index&quot;:{&quot;index_section&quot;:1,&quot;index_section_count&quot;:10},&quot;index_total&quot;:7}"><span class="gem-c-step-nav____title-text-focus"><span class="gem-c-step-nav__title-text js-step-title-text">
                Check if you're eligible
              </span><span class="govuk-visually-hidden gem-c-step-nav__section-heading-divider">, </span></span><span class="gem-c-step-nav__toggle-link js-toggle-link govuk-!-display-none-print"><span class="gem-c-step-nav__toggle-link-focus"><span class="gem-c-step-nav__chevron js-toggle-link-icon gem-c-step-nav__chevron--down"></span><span class="gem-c-step-nav__button-text js-toggle-link-text">Show</span></span><span class="govuk-visually-hidden"> this section</span></span></button></span>
</h3>          </div>


          <div class="gem-c-step-nav__panel js-panel js-hidden" id="step-panel-check-if-you-re-eligible-1" data-module="ga4-link-tracker" data-ga4-track-links-only="" data-ga4-set-indexes="" data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;step by step&quot;,&quot;index&quot;:{&quot;index_section&quot;:1,&quot;index_section_count&quot;:10},&quot;section&quot;:&quot;Check if you're eligible&quot;,&quot;index_total&quot;:7}" data-ga4-link-tracker-module-started="true">
              <ol class="gem-c-step-nav__list " data-length="1"><li class="gem-c-step-nav__list-item js-list-item "><a data-position="1.1" class="gem-c-step-nav__link js-link" href="/student-finance/who-qualifies?step-by-step-nav=18045f76-ac04-41b7-b147-5687d8fbb64a" data-ga4-index="{&quot;index_link&quot;: 1}">Check if you're eligible for student finance </a></li></ol>

              <p class="gem-c-step-nav__paragraph">There’s a different process if you’re a student from:</p>

              <ul class="gem-c-step-nav__list gem-c-step-nav__list--choice" data-length="6">
<li class="gem-c-step-nav__list-item js-list-item "><a rel="external" data-position="1.2" class="gem-c-step-nav__link js-link" href="http://www.saas.gov.uk/" data-ga4-index="{&quot;index_link&quot;: 2}">Scotland </a></li>
<li class="gem-c-step-nav__list-item js-list-item "><a rel="external" data-position="1.3" class="gem-c-step-nav__link js-link" href="http://www.studentfinancewales.co.uk/" data-ga4-index="{&quot;index_link&quot;: 3}">Wales </a></li>
<li class="gem-c-step-nav__list-item js-list-item "><a rel="external" data-position="1.4" class="gem-c-step-nav__link js-link" href="http://www.studentfinanceni.co.uk/" data-ga4-index="{&quot;index_link&quot;: 4}">Northern Ireland </a></li>
<li class="gem-c-step-nav__list-item js-list-item "><a rel="external" data-position="1.5" class="gem-c-step-nav__link js-link" href="http://www.gov.je/Working/Careers/16To19YearOlds/EnteringHigherEducation/FinancingHigherEducationCourses/FundingDegreeProfessionalQualifications/Pages/index.aspx" data-ga4-index="{&quot;index_link&quot;: 5}">Jersey </a></li>
<li class="gem-c-step-nav__list-item js-list-item "><a rel="external" data-position="1.6" class="gem-c-step-nav__link js-link" href="http://www.education.gg/article/2127/Funding-for-University)" data-ga4-index="{&quot;index_link&quot;: 6}">Guernsey </a></li>
<li class="gem-c-step-nav__list-item js-list-item "><a rel="external" data-position="1.7" class="gem-c-step-nav__link js-link" href="https://www.gov.im/student-grants" data-ga4-index="{&quot;index_link&quot;: 7}">Isle of Man </a></li>
</ul>

</div>
        </li>
        <li class="gem-c-step-nav__step js-step" id="find-out-how-much-loan-you-could-get" data-track-count="stepNavSection">
          <div class="gem-c-step-nav__header js-toggle-panel" data-position="2">
            <h3 class="gem-c-step-nav__title">
              <span class="gem-c-step-nav__circle gem-c-step-nav__circle--number">
                <span class="gem-c-step-nav__circle-inner">
                  <span class="gem-c-step-nav__circle-background">
                      <span class="gem-c-step-nav__circle-step-label govuk-!-display-none-print visuallyhidden">Step</span> 2<span class="gem-c-step-nav__circle-step-colon govuk-!-display-none-print visuallyhidden" aria-hidden="true">:</span>
                  </span>
                </span>
              </span>

              <span class="js-step-title"><button class="gem-c-step-nav__button gem-c-step-nav__button--title js-step-title-button" aria-expanded="false" aria-controls="step-panel-find-out-how-much-loan-you-could-get-2" data-ga4-event="{&quot;event_name&quot;:&quot;select_content&quot;,&quot;type&quot;:&quot;step by step&quot;,&quot;text&quot;:&quot;Find out how much loan you could get&quot;,&quot;index&quot;:{&quot;index_section&quot;:2,&quot;index_section_count&quot;:10},&quot;index_total&quot;:8}"><span class="gem-c-step-nav____title-text-focus"><span class="gem-c-step-nav__title-text js-step-title-text">
                Find out how much loan you could get
              </span><span class="govuk-visually-hidden gem-c-step-nav__section-heading-divider">, </span></span><span class="gem-c-step-nav__toggle-link js-toggle-link govuk-!-display-none-print"><span class="gem-c-step-nav__toggle-link-focus"><span class="gem-c-step-nav__chevron js-toggle-link-icon gem-c-step-nav__chevron--down"></span><span class="gem-c-step-nav__button-text js-toggle-link-text">Show</span></span><span class="govuk-visually-hidden"> this section</span></span></button></span>
</h3>          </div>


          <div class="gem-c-step-nav__panel js-panel js-hidden" id="step-panel-find-out-how-much-loan-you-could-get-2" data-module="ga4-link-tracker" data-ga4-track-links-only="" data-ga4-set-indexes="" data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;step by step&quot;,&quot;index&quot;:{&quot;index_section&quot;:2,&quot;index_section_count&quot;:10},&quot;section&quot;:&quot;Find out how much loan you could get&quot;,&quot;index_total&quot;:8}" data-ga4-link-tracker-module-started="true">
              <p class="gem-c-step-nav__paragraph">Find out the maximum tuition fee and maintenance loan you could get if you're a:</p>

              <ul class="gem-c-step-nav__list gem-c-step-nav__list--choice" data-length="5">
<li class="gem-c-step-nav__list-item js-list-item "><a data-position="2.1" class="gem-c-step-nav__link js-link" href="/student-finance/new-fulltime-students?step-by-step-nav=18045f76-ac04-41b7-b147-5687d8fbb64a" data-ga4-index="{&quot;index_link&quot;: 1}">new full-time student </a></li>
<li class="gem-c-step-nav__list-item js-list-item "><a data-position="2.2" class="gem-c-step-nav__link js-link" href="/student-finance/continuing-fulltime-students?step-by-step-nav=18045f76-ac04-41b7-b147-5687d8fbb64a" data-ga4-index="{&quot;index_link&quot;: 2}">continuing full-time student </a></li>
<li class="gem-c-step-nav__list-item js-list-item "><a data-position="2.3" class="gem-c-step-nav__link js-link" href="/student-finance/parttime-students?step-by-step-nav=18045f76-ac04-41b7-b147-5687d8fbb64a" data-ga4-index="{&quot;index_link&quot;: 3}">part-time student </a></li>
<li class="gem-c-step-nav__list-item js-list-item "><a data-position="2.4" class="gem-c-step-nav__link js-link" href="/student-finance/eu-students?step-by-step-nav=18045f76-ac04-41b7-b147-5687d8fbb64a" data-ga4-index="{&quot;index_link&quot;: 4}">EU student </a></li>
<li class="gem-c-step-nav__list-item js-list-item "><a data-position="2.5" class="gem-c-step-nav__link js-link" href="/student-finance-for-existing-students?step-by-step-nav=18045f76-ac04-41b7-b147-5687d8fbb64a" data-ga4-index="{&quot;index_link&quot;: 5}">student who started before 1 August 2016 </a></li>
</ul>

              <p class="gem-c-step-nav__paragraph">How much maintenance loan you get depends on where you'll study and your household income.</p>

              <ol class="gem-c-step-nav__list " data-length="1"><li class="gem-c-step-nav__list-item js-list-item "><a data-position="2.6" class="gem-c-step-nav__link js-link" href="/student-finance-calculator?step-by-step-nav=18045f76-ac04-41b7-b147-5687d8fbb64a" data-ga4-index="{&quot;index_link&quot;: 6}">Use the student finance calculator to estimate your maintenance loan </a></li></ol>

              <p class="gem-c-step-nav__paragraph">You'll have to pay back any loan you get.</p>

              <ol class="gem-c-step-nav__list " data-length="2">
<li class="gem-c-step-nav__list-item js-list-item "><a data-position="2.7" class="gem-c-step-nav__link js-link" href="/repaying-your-student-loan/what-you-pay?step-by-step-nav=18045f76-ac04-41b7-b147-5687d8fbb64a" data-ga4-index="{&quot;index_link&quot;: 7}">Find out how much you'll repay </a></li>
<li class="gem-c-step-nav__list-item js-list-item "><a data-position="2.8" class="gem-c-step-nav__link js-link" href="/repaying-your-student-loan/when-you-start-and-finish-repaying?step-by-step-nav=18045f76-ac04-41b7-b147-5687d8fbb64a" data-ga4-index="{&quot;index_link&quot;: 8}">Find out when you'll start repaying </a></li>
</ol>

</div>
        </li>
        <li class="gem-c-step-nav__step js-step" id="check-if-you-can-get-extra-help" data-track-count="stepNavSection">
          <div class="gem-c-step-nav__header js-toggle-panel" data-position="3">
            <h3 class="gem-c-step-nav__title">
              <span class="gem-c-step-nav__circle gem-c-step-nav__circle--logic">
                <span class="gem-c-step-nav__circle-inner">
                  <span class="gem-c-step-nav__circle-background">
                      and
                  </span>
                </span>
              </span>

              <span class="js-step-title"><button class="gem-c-step-nav__button gem-c-step-nav__button--title js-step-title-button" aria-expanded="false" aria-controls="step-panel-check-if-you-can-get-extra-help-3" data-ga4-event="{&quot;event_name&quot;:&quot;select_content&quot;,&quot;type&quot;:&quot;step by step&quot;,&quot;text&quot;:&quot;Check if you can get extra help&quot;,&quot;index&quot;:{&quot;index_section&quot;:3,&quot;index_section_count&quot;:10},&quot;index_total&quot;:6}"><span class="gem-c-step-nav____title-text-focus"><span class="gem-c-step-nav__title-text js-step-title-text">
                Check if you can get extra help
              </span><span class="govuk-visually-hidden gem-c-step-nav__section-heading-divider">, </span></span><span class="gem-c-step-nav__toggle-link js-toggle-link govuk-!-display-none-print"><span class="gem-c-step-nav__toggle-link-focus"><span class="gem-c-step-nav__chevron js-toggle-link-icon gem-c-step-nav__chevron--down"></span><span class="gem-c-step-nav__button-text js-toggle-link-text">Show</span></span><span class="govuk-visually-hidden"> this section</span></span></button></span>
</h3>          </div>


          <div class="gem-c-step-nav__panel js-panel js-hidden" id="step-panel-check-if-you-can-get-extra-help-3" data-module="ga4-link-tracker" data-ga4-track-links-only="" data-ga4-set-indexes="" data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;step by step&quot;,&quot;index&quot;:{&quot;index_section&quot;:3,&quot;index_section_count&quot;:10},&quot;section&quot;:&quot;Check if you can get extra help&quot;,&quot;index_total&quot;:6}" data-ga4-link-tracker-module-started="true">
              <p class="gem-c-step-nav__paragraph">You might be able to get extra money if you:</p>

              <ul class="gem-c-step-nav__list gem-c-step-nav__list--choice" data-length="5">
<li class="gem-c-step-nav__list-item js-list-item "><a rel="external" data-position="3.1" class="gem-c-step-nav__link js-link" href="https://www.standalone.org.uk/guides/student-guide/" data-ga4-index="{&quot;index_link&quot;: 1}">are under 25, have no contact with your parents and support yourself </a></li>
<li class="gem-c-step-nav__list-item js-list-item "><a data-position="3.2" class="gem-c-step-nav__link js-link" href="/childcare-grant?step-by-step-nav=18045f76-ac04-41b7-b147-5687d8fbb64a" data-ga4-index="{&quot;index_link&quot;: 2}">pay for childcare </a></li>
<li class="gem-c-step-nav__list-item js-list-item "><a data-position="3.3" class="gem-c-step-nav__link js-link" href="/parents-learning-allowance?step-by-step-nav=18045f76-ac04-41b7-b147-5687d8fbb64a" data-ga4-index="{&quot;index_link&quot;: 3}">are a full-time student with children </a></li>
<li class="gem-c-step-nav__list-item js-list-item "><a data-position="3.4" class="gem-c-step-nav__link js-link" href="/adult-dependants-grant?step-by-step-nav=18045f76-ac04-41b7-b147-5687d8fbb64a" data-ga4-index="{&quot;index_link&quot;: 4}">have an adult who depends on you financially </a></li>
<li class="gem-c-step-nav__list-item js-list-item "><a data-position="3.5" class="gem-c-step-nav__link js-link" href="/disabled-students-allowances-dsas?step-by-step-nav=18045f76-ac04-41b7-b147-5687d8fbb64a" data-ga4-index="{&quot;index_link&quot;: 5}">have a disability, mental or physical health problem or learning difficulty like dyslexia </a></li>
</ul>

              <p class="gem-c-step-nav__paragraph">You might also be able to get other financial help, for example from your university or the government.</p>

              <ol class="gem-c-step-nav__list " data-length="1"><li class="gem-c-step-nav__list-item js-list-item "><a data-position="3.6" class="gem-c-step-nav__link js-link" href="/student-finance/extra-help?step-by-step-nav=18045f76-ac04-41b7-b147-5687d8fbb64a" data-ga4-index="{&quot;index_link&quot;: 6}">Find out about extra help </a></li></ol>

</div>
        </li>
        <li class="gem-c-step-nav__step js-step" id="prepare-your-application" data-track-count="stepNavSection">
          <div class="gem-c-step-nav__header js-toggle-panel" data-position="4">
            <h3 class="gem-c-step-nav__title">
              <span class="gem-c-step-nav__circle gem-c-step-nav__circle--number">
                <span class="gem-c-step-nav__circle-inner">
                  <span class="gem-c-step-nav__circle-background">
                      <span class="gem-c-step-nav__circle-step-label govuk-!-display-none-print visuallyhidden">Step</span> 3<span class="gem-c-step-nav__circle-step-colon govuk-!-display-none-print visuallyhidden" aria-hidden="true">:</span>
                  </span>
                </span>
              </span>

              <span class="js-step-title"><button class="gem-c-step-nav__button gem-c-step-nav__button--title js-step-title-button" aria-expanded="false" aria-controls="step-panel-prepare-your-application-4" data-ga4-event="{&quot;event_name&quot;:&quot;select_content&quot;,&quot;type&quot;:&quot;step by step&quot;,&quot;text&quot;:&quot;Prepare your application&quot;,&quot;index&quot;:{&quot;index_section&quot;:4,&quot;index_section_count&quot;:10},&quot;index_total&quot;:3}"><span class="gem-c-step-nav____title-text-focus"><span class="gem-c-step-nav__title-text js-step-title-text">
                Prepare your application
              </span><span class="govuk-visually-hidden gem-c-step-nav__section-heading-divider">, </span></span><span class="gem-c-step-nav__toggle-link js-toggle-link govuk-!-display-none-print"><span class="gem-c-step-nav__toggle-link-focus"><span class="gem-c-step-nav__chevron js-toggle-link-icon gem-c-step-nav__chevron--down"></span><span class="gem-c-step-nav__button-text js-toggle-link-text">Show</span></span><span class="govuk-visually-hidden"> this section</span></span></button></span>
</h3>          </div>


          <div class="gem-c-step-nav__panel js-panel js-hidden" id="step-panel-prepare-your-application-4" data-module="ga4-link-tracker" data-ga4-track-links-only="" data-ga4-set-indexes="" data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;step by step&quot;,&quot;index&quot;:{&quot;index_section&quot;:4,&quot;index_section_count&quot;:10},&quot;section&quot;:&quot;Prepare your application&quot;,&quot;index_total&quot;:3}" data-ga4-link-tracker-module-started="true">
              <ol class="gem-c-step-nav__list " data-length="3">
<li class="gem-c-step-nav__list-item js-list-item "><a data-position="4.1" class="gem-c-step-nav__link js-link" href="/apply-for-student-finance/when?step-by-step-nav=18045f76-ac04-41b7-b147-5687d8fbb64a" data-ga4-index="{&quot;index_link&quot;: 1}">Check when you can apply </a></li>
<li class="gem-c-step-nav__list-item js-list-item "><a data-position="4.2" class="gem-c-step-nav__link js-link" href="/apply-for-student-finance/proof-of-identity?step-by-step-nav=18045f76-ac04-41b7-b147-5687d8fbb64a" data-ga4-index="{&quot;index_link&quot;: 2}">Check what ID you'll need </a></li>
<li class="gem-c-step-nav__list-item js-list-item "><a data-position="4.3" class="gem-c-step-nav__link js-link" href="/apply-for-student-finance/household-income?step-by-step-nav=18045f76-ac04-41b7-b147-5687d8fbb64a" data-ga4-index="{&quot;index_link&quot;: 3}">Check if you need to give proof of your household income </a></li>
</ol>

</div>
        </li>
        <li class="gem-c-step-nav__step js-step" id="apply" data-track-count="stepNavSection">
          <div class="gem-c-step-nav__header js-toggle-panel" data-position="5">
            <h3 class="gem-c-step-nav__title">
              <span class="gem-c-step-nav__circle gem-c-step-nav__circle--number">
                <span class="gem-c-step-nav__circle-inner">
                  <span class="gem-c-step-nav__circle-background">
                      <span class="gem-c-step-nav__circle-step-label govuk-!-display-none-print visuallyhidden">Step</span> 4<span class="gem-c-step-nav__circle-step-colon govuk-!-display-none-print visuallyhidden" aria-hidden="true">:</span>
                  </span>
                </span>
              </span>

              <span class="js-step-title"><button class="gem-c-step-nav__button gem-c-step-nav__button--title js-step-title-button" aria-expanded="false" aria-controls="step-panel-apply-5" data-ga4-event="{&quot;event_name&quot;:&quot;select_content&quot;,&quot;type&quot;:&quot;step by step&quot;,&quot;text&quot;:&quot;Apply&quot;,&quot;index&quot;:{&quot;index_section&quot;:5,&quot;index_section_count&quot;:10},&quot;index_total&quot;:1}"><span class="gem-c-step-nav____title-text-focus"><span class="gem-c-step-nav__title-text js-step-title-text">
                Apply
              </span><span class="govuk-visually-hidden gem-c-step-nav__section-heading-divider">, </span></span><span class="gem-c-step-nav__toggle-link js-toggle-link govuk-!-display-none-print"><span class="gem-c-step-nav__toggle-link-focus"><span class="gem-c-step-nav__chevron js-toggle-link-icon gem-c-step-nav__chevron--down"></span><span class="gem-c-step-nav__button-text js-toggle-link-text">Show</span></span><span class="govuk-visually-hidden"> this section</span></span></button></span>
</h3>          </div>


          <div class="gem-c-step-nav__panel js-panel js-hidden" id="step-panel-apply-5" data-module="ga4-link-tracker" data-ga4-track-links-only="" data-ga4-set-indexes="" data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;step by step&quot;,&quot;index&quot;:{&quot;index_section&quot;:5,&quot;index_section_count&quot;:10},&quot;section&quot;:&quot;Apply&quot;,&quot;index_total&quot;:1}" data-ga4-link-tracker-module-started="true">
              <ol class="gem-c-step-nav__list " data-length="1"><li class="gem-c-step-nav__list-item js-list-item "><a data-position="5.1" class="gem-c-step-nav__link js-link" href="/apply-online-for-student-finance?step-by-step-nav=18045f76-ac04-41b7-b147-5687d8fbb64a" data-ga4-index="{&quot;index_link&quot;: 1}">Apply online </a></li></ol>

              <p class="gem-c-step-nav__paragraph">You'll need to create a student finance account if you're a new student or sign into an existing account if you're a returning student. </p>

              <p class="gem-c-step-nav__paragraph">It can take up to 6 weeks to process your application. You might have to provide extra evidence.</p>

</div>
        </li>
        <li class="gem-c-step-nav__step js-step" id="update-your-details-if-your-circumstances-change" data-track-count="stepNavSection">
          <div class="gem-c-step-nav__header js-toggle-panel" data-position="6">
            <h3 class="gem-c-step-nav__title">
              <span class="gem-c-step-nav__circle gem-c-step-nav__circle--number">
                <span class="gem-c-step-nav__circle-inner">
                  <span class="gem-c-step-nav__circle-background">
                      <span class="gem-c-step-nav__circle-step-label govuk-!-display-none-print visuallyhidden">Step</span> 5<span class="gem-c-step-nav__circle-step-colon govuk-!-display-none-print visuallyhidden" aria-hidden="true">:</span>
                  </span>
                </span>
              </span>

              <span class="js-step-title"><button class="gem-c-step-nav__button gem-c-step-nav__button--title js-step-title-button" aria-expanded="false" aria-controls="step-panel-update-your-details-if-your-circumstances-change-6" data-ga4-event="{&quot;event_name&quot;:&quot;select_content&quot;,&quot;type&quot;:&quot;step by step&quot;,&quot;text&quot;:&quot;Update your details if your circumstances change&quot;,&quot;index&quot;:{&quot;index_section&quot;:6,&quot;index_section_count&quot;:10},&quot;index_total&quot;:1}"><span class="gem-c-step-nav____title-text-focus"><span class="gem-c-step-nav__title-text js-step-title-text">
                Update your details if your circumstances change
              </span><span class="govuk-visually-hidden gem-c-step-nav__section-heading-divider">, </span></span><span class="gem-c-step-nav__toggle-link js-toggle-link govuk-!-display-none-print"><span class="gem-c-step-nav__toggle-link-focus"><span class="gem-c-step-nav__chevron js-toggle-link-icon gem-c-step-nav__chevron--down"></span><span class="gem-c-step-nav__button-text js-toggle-link-text">Show</span></span><span class="govuk-visually-hidden"> this section</span></span></button></span>
</h3>          </div>


          <div class="gem-c-step-nav__panel js-panel js-hidden" id="step-panel-update-your-details-if-your-circumstances-change-6" data-module="ga4-link-tracker" data-ga4-track-links-only="" data-ga4-set-indexes="" data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;step by step&quot;,&quot;index&quot;:{&quot;index_section&quot;:6,&quot;index_section_count&quot;:10},&quot;section&quot;:&quot;Update your details if your circumstances change&quot;,&quot;index_total&quot;:1}" data-ga4-link-tracker-module-started="true">
              <p class="gem-c-step-nav__paragraph">You must update your application if your circumstances change. For example if you:</p>

              <ul class="gem-c-step-nav__list gem-c-step-nav__list--choice" data-length="2">
<li class="gem-c-step-nav__list-item js-list-item ">change your course through clearing</li>
<li class="gem-c-step-nav__list-item js-list-item ">change where you're going to live - for example with your parents instead of halls</li>
</ul>

              <ol class="gem-c-step-nav__list " data-length="1"><li class="gem-c-step-nav__list-item js-list-item "><a data-position="6.3" class="gem-c-step-nav__link js-link" href="/apply-for-student-finance/change-an-application?step-by-step-nav=18045f76-ac04-41b7-b147-5687d8fbb64a" data-ga4-index="{&quot;index_link&quot;: 1}">Find out how to update your application </a></li></ol>

</div>
        </li>
        <li class="gem-c-step-nav__step js-step" id="make-sure-you-can-be-paid" data-track-count="stepNavSection">
          <div class="gem-c-step-nav__header js-toggle-panel" data-position="7">
            <h3 class="gem-c-step-nav__title">
              <span class="gem-c-step-nav__circle gem-c-step-nav__circle--number">
                <span class="gem-c-step-nav__circle-inner">
                  <span class="gem-c-step-nav__circle-background">
                      <span class="gem-c-step-nav__circle-step-label govuk-!-display-none-print visuallyhidden">Step</span> 6<span class="gem-c-step-nav__circle-step-colon govuk-!-display-none-print visuallyhidden" aria-hidden="true">:</span>
                  </span>
                </span>
              </span>

              <span class="js-step-title"><button class="gem-c-step-nav__button gem-c-step-nav__button--title js-step-title-button" aria-expanded="false" aria-controls="step-panel-make-sure-you-can-be-paid-7" data-ga4-event="{&quot;event_name&quot;:&quot;select_content&quot;,&quot;type&quot;:&quot;step by step&quot;,&quot;text&quot;:&quot;Make sure you can be paid&quot;,&quot;index&quot;:{&quot;index_section&quot;:7,&quot;index_section_count&quot;:10},&quot;index_total&quot;:1}"><span class="gem-c-step-nav____title-text-focus"><span class="gem-c-step-nav__title-text js-step-title-text">
                Make sure you can be paid
              </span><span class="govuk-visually-hidden gem-c-step-nav__section-heading-divider">, </span></span><span class="gem-c-step-nav__toggle-link js-toggle-link govuk-!-display-none-print"><span class="gem-c-step-nav__toggle-link-focus"><span class="gem-c-step-nav__chevron js-toggle-link-icon gem-c-step-nav__chevron--down"></span><span class="gem-c-step-nav__button-text js-toggle-link-text">Show</span></span><span class="govuk-visually-hidden"> this section</span></span></button></span>
</h3>          </div>


          <div class="gem-c-step-nav__panel js-panel js-hidden" id="step-panel-make-sure-you-can-be-paid-7" data-module="ga4-link-tracker" data-ga4-track-links-only="" data-ga4-set-indexes="" data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;step by step&quot;,&quot;index&quot;:{&quot;index_section&quot;:7,&quot;index_section_count&quot;:10},&quot;section&quot;:&quot;Make sure you can be paid&quot;,&quot;index_total&quot;:1}" data-ga4-link-tracker-module-started="true">
              <p class="gem-c-step-nav__paragraph">After you register at your university or college you'll usually get your maintenance loan paid directly into your bank account at the start of each term. </p>

              <p class="gem-c-step-nav__paragraph">Use your student finance account to:</p>

              <ul class="gem-c-step-nav__list gem-c-step-nav__list--choice" data-length="3">
<li class="gem-c-step-nav__list-item js-list-item ">update your bank details - for example if you open a student account</li>
<li class="gem-c-step-nav__list-item js-list-item ">check how much you'll be paid</li>
<li class="gem-c-step-nav__list-item js-list-item ">check when you'll be paid</li>
</ul>

              <ol class="gem-c-step-nav__list " data-length="1"><li class="gem-c-step-nav__list-item js-list-item "><a data-position="7.4" class="gem-c-step-nav__link js-link" href="/student-finance-register-login?step-by-step-nav=18045f76-ac04-41b7-b147-5687d8fbb64a" data-ga4-index="{&quot;index_link&quot;: 1}">Sign in to your student finance account </a></li></ol>

</div>
        </li>
        <li class="gem-c-step-nav__step js-step" id="check-what-to-do-while-you-re-studying" data-track-count="stepNavSection">
          <div class="gem-c-step-nav__header js-toggle-panel" data-position="8">
            <h3 class="gem-c-step-nav__title">
              <span class="gem-c-step-nav__circle gem-c-step-nav__circle--number">
                <span class="gem-c-step-nav__circle-inner">
                  <span class="gem-c-step-nav__circle-background">
                      <span class="gem-c-step-nav__circle-step-label govuk-!-display-none-print visuallyhidden">Step</span> 7<span class="gem-c-step-nav__circle-step-colon govuk-!-display-none-print visuallyhidden" aria-hidden="true">:</span>
                  </span>
                </span>
              </span>

              <span class="js-step-title"><button class="gem-c-step-nav__button gem-c-step-nav__button--title js-step-title-button" aria-expanded="false" aria-controls="step-panel-check-what-to-do-while-you-re-studying-8" data-ga4-event="{&quot;event_name&quot;:&quot;select_content&quot;,&quot;type&quot;:&quot;step by step&quot;,&quot;text&quot;:&quot;Check what to do while you're studying&quot;,&quot;index&quot;:{&quot;index_section&quot;:8,&quot;index_section_count&quot;:10},&quot;index_total&quot;:2}"><span class="gem-c-step-nav____title-text-focus"><span class="gem-c-step-nav__title-text js-step-title-text">
                Check what to do while you're studying
              </span><span class="govuk-visually-hidden gem-c-step-nav__section-heading-divider">, </span></span><span class="gem-c-step-nav__toggle-link js-toggle-link govuk-!-display-none-print"><span class="gem-c-step-nav__toggle-link-focus"><span class="gem-c-step-nav__chevron js-toggle-link-icon gem-c-step-nav__chevron--down"></span><span class="gem-c-step-nav__button-text js-toggle-link-text">Show</span></span><span class="govuk-visually-hidden"> this section</span></span></button></span>
</h3>          </div>


          <div class="gem-c-step-nav__panel js-panel js-hidden" id="step-panel-check-what-to-do-while-you-re-studying-8" data-module="ga4-link-tracker" data-ga4-track-links-only="" data-ga4-set-indexes="" data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;step by step&quot;,&quot;index&quot;:{&quot;index_section&quot;:8,&quot;index_section_count&quot;:10},&quot;section&quot;:&quot;Check what to do while you're studying&quot;,&quot;index_total&quot;:2}" data-ga4-link-tracker-module-started="true">
              <p class="gem-c-step-nav__paragraph">You'll need to reapply for student finance for each year of your course. </p>

              <p class="gem-c-step-nav__paragraph">You must keep your details up to date throughout your course because some changes can affect your loan payments, for example if your household income or bank details change.</p>

              <ol class="gem-c-step-nav__list " data-length="2">
<li class="gem-c-step-nav__list-item js-list-item "><a data-position="8.1" class="gem-c-step-nav__link js-link" href="/apply-for-student-finance/change-an-application?step-by-step-nav=18045f76-ac04-41b7-b147-5687d8fbb64a" data-ga4-index="{&quot;index_link&quot;: 1}">Check how to update your details </a></li>
<li class="gem-c-step-nav__list-item js-list-item "><a data-position="8.2" class="gem-c-step-nav__link js-link" href="/student-finance-if-you-suspend-or-leave?step-by-step-nav=18045f76-ac04-41b7-b147-5687d8fbb64a" data-ga4-index="{&quot;index_link&quot;: 2}">Find out what to do if you suspend or leave your course </a></li>
</ol>

</div>
        </li>
        <li class="gem-c-step-nav__step js-step" id="check-what-to-do-when-you-stop-studying" data-track-count="stepNavSection">
          <div class="gem-c-step-nav__header js-toggle-panel" data-position="9">
            <h3 class="gem-c-step-nav__title">
              <span class="gem-c-step-nav__circle gem-c-step-nav__circle--number">
                <span class="gem-c-step-nav__circle-inner">
                  <span class="gem-c-step-nav__circle-background">
                      <span class="gem-c-step-nav__circle-step-label govuk-!-display-none-print visuallyhidden">Step</span> 8<span class="gem-c-step-nav__circle-step-colon govuk-!-display-none-print visuallyhidden" aria-hidden="true">:</span>
                  </span>
                </span>
              </span>

              <span class="js-step-title"><button class="gem-c-step-nav__button gem-c-step-nav__button--title js-step-title-button" aria-expanded="false" aria-controls="step-panel-check-what-to-do-when-you-stop-studying-9" data-ga4-event="{&quot;event_name&quot;:&quot;select_content&quot;,&quot;type&quot;:&quot;step by step&quot;,&quot;text&quot;:&quot;Check what to do when you stop studying&quot;,&quot;index&quot;:{&quot;index_section&quot;:9,&quot;index_section_count&quot;:10},&quot;index_total&quot;:2}"><span class="gem-c-step-nav____title-text-focus"><span class="gem-c-step-nav__title-text js-step-title-text">
                Check what to do when you stop studying
              </span><span class="govuk-visually-hidden gem-c-step-nav__section-heading-divider">, </span></span><span class="gem-c-step-nav__toggle-link js-toggle-link govuk-!-display-none-print"><span class="gem-c-step-nav__toggle-link-focus"><span class="gem-c-step-nav__chevron js-toggle-link-icon gem-c-step-nav__chevron--down"></span><span class="gem-c-step-nav__button-text js-toggle-link-text">Show</span></span><span class="govuk-visually-hidden"> this section</span></span></button></span>
</h3>          </div>


          <div class="gem-c-step-nav__panel js-panel js-hidden" id="step-panel-check-what-to-do-when-you-stop-studying-9" data-module="ga4-link-tracker" data-ga4-track-links-only="" data-ga4-set-indexes="" data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;step by step&quot;,&quot;index&quot;:{&quot;index_section&quot;:9,&quot;index_section_count&quot;:10},&quot;section&quot;:&quot;Check what to do when you stop studying&quot;,&quot;index_total&quot;:2}" data-ga4-link-tracker-module-started="true">
              <p class="gem-c-step-nav__paragraph">When you stop studying the Student Loans Company (SLC) will create a student loans repayment account for you.</p>

              <p class="gem-c-step-nav__paragraph">Make sure your contact details are up to date in your repayment account. The log in details will be the same as for your student finance account.</p>

              <ol class="gem-c-step-nav__list " data-length="2">
<li class="gem-c-step-nav__list-item js-list-item "><a data-position="9.1" class="gem-c-step-nav__link js-link" href="/sign-in-to-manage-your-student-loan-balance?step-by-step-nav=18045f76-ac04-41b7-b147-5687d8fbb64a" data-ga4-index="{&quot;index_link&quot;: 1}">Sign in to your student loan repayment account </a></li>
<li class="gem-c-step-nav__list-item js-list-item "><a data-position="9.2" class="gem-c-step-nav__link js-link" href="/repaying-your-student-loan/update-your-employment-details?step-by-step-nav=18045f76-ac04-41b7-b147-5687d8fbb64a" data-ga4-index="{&quot;index_link&quot;: 2}">Update your employment details </a></li>
</ol>

</div>
        </li>
        <li class="gem-c-step-nav__step js-step" id="repay-your-loan" data-track-count="stepNavSection">
          <div class="gem-c-step-nav__header js-toggle-panel" data-position="10">
            <h3 class="gem-c-step-nav__title">
              <span class="gem-c-step-nav__circle gem-c-step-nav__circle--number">
                <span class="gem-c-step-nav__circle-inner">
                  <span class="gem-c-step-nav__circle-background">
                      <span class="gem-c-step-nav__circle-step-label govuk-!-display-none-print visuallyhidden">Step</span> 9<span class="gem-c-step-nav__circle-step-colon govuk-!-display-none-print visuallyhidden" aria-hidden="true">:</span>
                  </span>
                </span>
              </span>

              <span class="js-step-title"><button class="gem-c-step-nav__button gem-c-step-nav__button--title js-step-title-button" aria-expanded="false" aria-controls="step-panel-repay-your-loan-10" data-ga4-event="{&quot;event_name&quot;:&quot;select_content&quot;,&quot;type&quot;:&quot;step by step&quot;,&quot;text&quot;:&quot;Repay your loan&quot;,&quot;index&quot;:{&quot;index_section&quot;:10,&quot;index_section_count&quot;:10},&quot;index_total&quot;:2}"><span class="gem-c-step-nav____title-text-focus"><span class="gem-c-step-nav__title-text js-step-title-text">
                Repay your loan
              </span><span class="govuk-visually-hidden gem-c-step-nav__section-heading-divider">, </span></span><span class="gem-c-step-nav__toggle-link js-toggle-link govuk-!-display-none-print"><span class="gem-c-step-nav__toggle-link-focus"><span class="gem-c-step-nav__chevron js-toggle-link-icon gem-c-step-nav__chevron--down"></span><span class="gem-c-step-nav__button-text js-toggle-link-text">Show</span></span><span class="govuk-visually-hidden"> this section</span></span></button></span>
</h3>          </div>


          <div class="gem-c-step-nav__panel js-panel js-hidden" id="step-panel-repay-your-loan-10" data-module="ga4-link-tracker" data-ga4-track-links-only="" data-ga4-set-indexes="" data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;step by step&quot;,&quot;index&quot;:{&quot;index_section&quot;:10,&quot;index_section_count&quot;:10},&quot;section&quot;:&quot;Repay your loan&quot;,&quot;index_total&quot;:2}" data-ga4-link-tracker-module-started="true">
              <ol class="gem-c-step-nav__list " data-length="2">
<li class="gem-c-step-nav__list-item js-list-item "><a data-position="10.1" class="gem-c-step-nav__link js-link" href="/repaying-your-student-loan/what-you-pay?step-by-step-nav=18045f76-ac04-41b7-b147-5687d8fbb64a" data-ga4-index="{&quot;index_link&quot;: 1}">Find out how much you'll repay </a></li>
<li class="gem-c-step-nav__list-item js-list-item "><a data-position="10.2" class="gem-c-step-nav__link js-link" href="/repaying-your-student-loan/when-you-start-and-finish-repaying?step-by-step-nav=18045f76-ac04-41b7-b147-5687d8fbb64a" data-ga4-index="{&quot;index_link&quot;: 2}">Find out when you'll start repaying </a></li>
</ol>

</div>
        </li>
    </ol>
  </div>



</div>

    </div> -->
</div>



{% endblock %}
