{% extends "layouts/main.html" %}
{% if not (serviceName == "") %}
{% set serviceName = "Check if you can get student finance" %}
{% endif %}
{% if not backHidden %}
{% block beforeContent %}
  <a class="govuk-back-link" onclick="history.back();" >Back</a>
{% endblock %}
{% endif %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


{% block employer %}

{% endblock %}

  </div>
</div>

{% endblock %}

{% block footer %}
  {{super()}}
<p>Switch to:  <a href="?theme=money-helper">Money helper theme</a>  <a href="?theme=govuk">GOV.UK theme</a><p>
{% endblock %}
